name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    branches: [main]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}

          script: |
            echo "✅ Подключение успешно!"
            cd /opt/chessapi
            git pull origin main
            mvn clean package -DskipTests
            docker stop chessapi 2>/dev/null || true
            docker rm chessapi 2>/dev/null || true
            docker build -t chessapi:latest .
            docker run -d \
              --name chessapi \
              --network host \
              chessapi:latest \
              --server.port=8080 \
              --server.address=0.0.0.0 \
              --spring.datasource.url=jdbc:postgresql://localhost:5432/chessdb \
              --spring.datasource.username=postgres \
              --spring.datasource.password=postgres
            
            echo "✅ Деплой завершен!"
            docker ps | grep chessapi